<div class="menu">
  <button class="content">
    <div id="addRegion" class="option">
      <img id="addRegion_icon" src="../static/icon/addRegion_icon.png" alt="" style="width: 45px; height: 45px">
      <h2 class="function">新增區域</h2>
    </div>
    <div class="decoration"></div>
  </button>
  <button class="content">
    <div id="addDevice" class="option">
      <img id="addDevice_icon" src="../static/icon/addDevice_icon.png" alt="" style="width: 45px; height: 45px">
      <h2 class="function">新增裝置</h2>
    </div>
    <div class="decoration"></div>
  </button>
  <button class="content">
    <div id="viewDevice" class="option">
      <img id="viewDevice_icon" src="../static/icon/viewDevice_icon.png" alt="" style="width: 45px; height: 45px">
      <h2 class="function">查看裝置</h2>
    </div>
    <div class="decoration"></div>
  </button>

  <button class="content">
    <div id="switchRegion" class="option">
      <img id="switchRegion_icon" src="../static/icon/switchRegion_icon.png" alt="" style="width: 45px; height: 45px">
      <h2 class="function">切換區域</h2>
    </div>
    <div class="decoration"></div>
  </button>

  <div class="info">
    <button class="content">
      <div id="setting" class="option">
        <img id="setting_icon" src="../static/icon/setting_icon.png" alt="" style="width: 45px; height: 45px">
        <h2 class="function">設定</h2>
      </div>
      <div class="decoration"></div>
    </button>

    <button class="content">
      <div id="FAQ" class="option">
        <img id="FAQ_icon" src="../static/icon/FAQ_icon.png" alt="" style="width: 45px; height: 45px">
        <h2 class="function">FAQ</h2>
      </div>
      <div class="decoration"></div>
    </button>
  </div>
</div>