<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

  <title>Document</title>
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/setting.css">
  <link rel="stylesheet" href="../static/css/menu.css">
</head>

<body>

  <!-- TODO: 插入 menu.html -->

  <div class="d-flex justify-content-center align-items-center vh-100 vw-100">
    <div class="outer">
      <form action="">
        <label for="">Email</label>
        <input type="email">
        <label for="">Password</label>
        <input type="password">
        <label for="">Authority</label>
        <input type="text">
      </form>
      <div class="submit">
        <button class="store">
          <img id="store" src="../static/icon/store.png" alt="" style="width: 30px; height: 35px;">
          <p>store</p>
        </button>
        <button class="reset">
          <img id="reset" src="../static/icon/reset.png" alt="" style="width: 35px; height: 35px;">
          <p>reset</p>
        </button>
      </div>
      <button class="logout">
        <img id="logout" src="../static/icon/logout.png" alt="" style="width: 35px; height: 35px;">
        <p>logout</p>
      </button>

    </div>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/static/js/setting.js"></script>
  <script src="../static/js/menu.js"></script>
</body>

</html>